.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url("../img/second-bg.png") center (center/cover) no-repeat;
    text-transform: uppercase;

    &__descr {
        margin-top: 40px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-transform: initial;
    }

    .error {
        border: 2px solid $main-color;
    }
    
    label.error {
        text-transform: none;
        color: #ffffff;
        text-align: center;
        border: none;
        margin-bottom: 15px;
    }
}
