* {
    font-family: 'Plumb', sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 45px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1447px;
    height: 50px;
    left: 0px;
    top: 27px;

    background: #DC151D;
}

.adress {
    display: flex;
}

.adress__kyiv {
    margin-left: 77px;
}

.adress a {
    display: flex;
    text-decoration: none;
}

.adress__kyiv_link-img {
    width: 20px;
}

.adress__poznyaki_link-img {
    width: 20px;
}

.adress__time_link-img {
    width: 20px;
}

.adress__kyiv_link-place {
    margin-left: 8px;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: #FFFFFF;
}

.adress__poznyaki {
    margin-left: 16px;
}

.adress__poznyaki_link-metro {
    margin-left: 4px;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: #FFFFFF;
}

.adress__time {
    margin-left: 33px;
}

.adress__time_link-time {
    margin-left: 7px;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: #FFFFFF;
}

.language__ua {
    margin-right: 80px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo-links {
    display: flex;
    justify-content: space-between;
}

.logo-links__logo-img {
    width: 200px;
}

.logo-links a {
    text-decoration: none;
}

.logo-links__links_img {
    width: 36px;
}

.main {
    background: url(../img/main-bg.png) center center/cover no-repeat;
    height: 830px;
    margin-top: 50px;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
    padding: 255px 0 0 255px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 135px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 24px;
}

.main__button {
    width: 280px;
    height: 65px;
    margin-top: 66px;
    background: #ED1C24;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
}